.com-btn{
	background: linear-gradient(180deg, #FFD111 0%, #FEE126 47.46%);
	padding: 16rpx 34rpx;
	border-radius: 40rpx;
	display: inline-block;
	font-size: 28rpx;
	color: #000;
	font-weight: 500;
}

.cn{
	color: rgba(53, 77, 110, 1);
}