.u-cell__value,.uni-input-input,.uni-input-placeholder,.uni-textarea-placeholder,.uni-textarea-textarea{
	font-size: 24rpx!important;
}

.u-input__content{
	font-size: 24rpx!important;
}

.u-cell__title-text{
	font-size: 24rpx!important;
	color: rgba(53, 77, 110, 1)!important;
}

.u-line{
	border: none!important;
}

.u-textarea{
	border: 2rpx solid rgba(221, 221, 221, 1)!important;
}

.u-cell__body__content{
	flex-shrink: 0!important;
}

.uni-picker-action uni-picker-action-confirm{
	color: #FFB10C!important;
}

.u-modal__title{
	font-size: 32rpx!important;
	font-weight: 500!important;
	color: #354D6E!important;
}

.u-modal__content__text{
	font-size: 28rpx!important;
	font-weight: 500!important;
	color: #354D6E!important;
}

.u-tabs__wrapper__nav__item__text{
	font-size: 28rpx!important;
}

uni-button:after{
	border: none!important;
}