.u-cell__value,.uni-input-input,.uni-input-placeholder,.uni-textarea-placeholder,.uni-textarea-textarea{
	font-size: 24rpx!important;
}

.u-input__content{
	font-size: 24rpx!important;
}

.u-cell__title-text{
	font-size: 24rpx!important;
	color: rgba(53, 77, 110, 1)!important;
}

.u-line{
	border: none!important;
}

.u-textarea{
	border: 2rpx solid rgba(221, 221, 221, 1)!important;
}