.u-cell__value,.uni-input-input,.uni-input-placeholder{
	font-size: 24rpx!important;
}

.u-input__content{
	font-size: 24rpx!important;
}

.u-cell__title-text{
	font-size: 24rpx!important;
	color: rgba(53, 77, 110, 1)!important;
}

.u-line{
	border: none!important;;
}